<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="icon" href="../assets/img/logo.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Sobre nosotros</title>
</head>
<body>
    <!-- HEADER -->
    <header>
        <div>
            <img class="logo" src="../assets/img/legalenergy1.png" alt="logo">
        </div>    
            <nav>
                <ul class="header_nav">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="about.html">Sobre Nosotros</a></li>
                    <li><a href="que_ofrecemos.html">Que ofrecemos</a></li>
                    <li><a href="noticias.html">Ultimas noticias</a></li>
                </ul>
            </nav>
            <a class="cta" href="../views/contacto.html"><button>Contacto</button></a>
    </header>
    <!-- FIN HEADER -->

    <main>
        <!-- Comienzo MAIN sobre nosotros -->
        <section class="section_about">
            <h2 class="section_about-title">Sobre nosotros</h2>
            <p>
                La  decisión de crear Legal -Energy & Mining Servicios Jurídicos es resultado de conjugar la experiencia profesional desarrollada junto a distintas áreas comerciales, de producción y comercialización en la industria, y la necesidad creciente de las empresas de encontrar y aplicar cada vez mas soluciones en forma transversal a las necesidades y conflictos que se presentan. <br><br>

A esta experiencia se suma la transversalidad de la energía, temática en la que nos hemos desempeñado. <br><br>

La interdisciplinariedad entre el derecho y otras profesiones, es hoy esencial para poder desarrollar un asesoramiento jurídico optimo, y lo que ha impulsado la creación de servicios jurídicos dirigidos a crear un puente entre abogados e ingenieros. <br><br>

Por ultimo, la experiencia desarrollada en el sector publico, ligada al desarrollo de políticas publicas, agrega una visión que complementa a la actividad privada desde otra óptica, y la importancia de que ambos sectores trabajen en conjunto para la consecución de objetivos de desarrollo conjunto y sostenible.

            </p>
            <div><img src="" alt=""></div>
        </section>
        <!-- fin MAIN sobre nosotros -->
    </main>

    <!-- FOOTER -->
    <footer>
        <div class="footer-content">
            <h3 class="footer__title">Redes Sociales</h3>
            <ul class="redes">
                <li><a href="https://www.instagram.com/legalenergymining/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/company/legal-energy-mining/" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
                <li><a href="https://twitter.com/legenergymining" target="_blank"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>Copyright &copy;2022 Legal Energy. designed by <span>Jeronimo Peredo</span></p>
        </div>
    </footer>
    <!-- FIN FOOTER -->
</body>
</html>