<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="icon" href="../assets/img/logo.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="description" content="Explicacion de los servicios que brindamos">
    <meta name="keywords" content="servicios cambios empresas acuerdos contacto cambio normativa">
    <title>Que ofrecemos</title>
</head>
<body>
    <!-- HEADER -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark container-fluid pt-4" id="menu">
            <img class="logo" src="../assets/img/legalenergy1.png" alt="logo">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto mx-auto">
                <li class="nav-item">
                  <a class="nav-link" href="../index.html">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html">Sobre Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="que_ofrecemos.html">Que ofrecemos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="noticias.html">Ultimas Noticias</a>
                </li>
              </ul>
              <a class="btn" href="contacto.html">Contacto</a>
            </div>
          </nav>
        </header>
    <!-- FIN HEADER -->

    <div class="container-fluid">
        <h2 class="title-servicios">Que ofrecemos</h2>
    </div>
    
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-7">
            <section class="section_servicios">
                <h3 class="section_servicios-title">Nuestro Servicios</h3>
                
                <p class="section_servicios-p">
                    En un mundo en permanente cambio, resulta esencial prever y estar a la altura de como esos cambios repercuten en la forma en que se vinculan las personas.
                    Las empresas ya sean pymes, o grandes empresas, son la fuente genuina de trabajo y oportunidades de crecimiento.  
                    Generar consensos en la cadena productiva, de comercialización y de servicios es esencial para el desarrollo de industrias, evaluando su repercusión en el plano social y ambiental en su zona de influencia. <br><br>

                    Fundamos Legal Energy & Mining con el objetivo de acompañar desde un principio toda necesidad de vinculación técnico y comercial, prever, consensuar y llegar a acuerdos, y en donde pudiesen surgir conflictos, evitar la prolongación de los mismos en forma innecesaria y gravosa para las partes involucradas. <br><br>
                    
                    La transversalidad de la energía nos obliga a estar permanentemente en contacto con las decisiones gubernamentales, nacionales e internacionales, de organismos internacionales y expertos.  También debemos tener en cuenta el mundo de los mercados financieros cada vez mas involucrados en promover las transacciones verdes, sostenibles y sociales.
Las decisiones que el mundo empresario debe tomar se encuentran cada vez mas condicionados por el contexto que el cambio climático y la transición energética nos impone.
Es por ello que nuestro servicio jurídico se complementa con las secciones de noticias y normativa relevante en nuestra web.

                </p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-5">
            <img src="../assets/img/solar-panels.jpg" alt="paneles" width="auto" height="auto" class="mt-5 img-ofrecemos">
          </div>
        </div>
    <!-- fin MAIN que ofrecemos -->
    
    <!-- FOOTER -->
    <footer>
        <div class="footer-content">
            <h3 class="footer__title">Redes Sociales</h3>
            <ul class="redes">
              <li><a href="https://www.instagram.com/legalenergymining/" target="_blank"><i class="fa fa-instagram instagram elemento"></i></a></li>
              <li><a href="https://www.linkedin.com/company/legal-energy-mining/" target="_blank"><i class="fa fa-linkedin-square linkedin elemento"></i></a></li>
              <li><a href="https://twitter.com/legenergymining" target="_blank"><i class="fa fa-twitter twitter elemento"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>Copyright &copy;2022 Legal Energy. designed by <span>Jeronimo Peredo</span></p>
        </div>
    </footer>
    <!-- FIN FOOTER -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>