<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="icon" href="../assets/img/logo.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Que ofrecemos</title>
</head>
<body>
    <!-- HEADER -->
    <header>
        <div>
            <img class="logo" src="../assets/img/legalenergy1.png" alt="logo">
        </div>    
            <nav>
                <ul class="header_nav">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="about.html">Sobre Nosotros</a></li>
                    <li><a href="que_ofrecemos.html">Que ofrecemos</a></li>
                    <li><a href="noticias.html">Ultimas noticias</a></li>
                </ul>
            </nav>
            <a class="cta" href="../views/contacto.html"><button>Contacto</button></a>
    </header>
    <!-- FIN HEADER -->

    <main class="main_servicios">
        <!-- Comienzo MAIN que ofrecemos -->
        <h2>Que ofrecemos</h2>
        
        <section class="section_servicios">
            <h3 class="section_servicios-title">Nuestro Servicios</h3>
            
            <p class="section_servicios-p">
                En un mundo en permanente cambio, resulta esencial prever y estar a la altura de como esos cambios repercuten en la forma en que se vinculan las personas.
                Las empresas ya sean pymes, o grandes empresas, son la fuente genuina de trabajo y oportunidades de crecimiento.  
                Generar consensos en la cadena productiva, de comercialización y de servicios es esencial para el desarrollo de industrias, evaluando su repercusión en el plano social y ambiental en su zona de influencia. <br><br>

                Fundamos Legal Energy & Mining con el objetivo de acompañar desde un principio toda necesidad de vinculación técnico y comercial, prever, consensuar y llegar a acuerdos, y en donde pudiesen surgir conflictos, evitar la prolongación de los mismos en forma innecesaria y gravosa para las partes involucradas.
                 
            </p>
            
            <img src="" alt="">
        </section>
    </main>
    <!-- fin MAIN que ofrecemos -->
    
    <!-- FOOTER -->
    <footer>
        <div class="footer-content">
            <h3 class="footer__title">Redes Sociales</h3>
            <ul class="redes">
                <li><a href="https://www.instagram.com/legalenergymining/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/company/legal-energy-mining/" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
                <li><a href="https://twitter.com/legenergymining" target="_blank"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>Copyright &copy;2022 Legal Energy. designed by <span>Jeronimo Peredo</span></p>
        </div>
    </footer>
    <!-- FIN FOOTER -->
</body>
</html>