footer {grid-area: footer;margin-top: 16rem;font-family: "Montserrat";padding-top: 40px;color: #edf0f1; }
.footer-content {display: flex;align-items: center;justify-content: center;flex-direction: column;text-align: center;}
.footer-content h3 {font-size: 20px;font-weight: 400;text-transform: capitalize;line-height: 3rem;}
.footer-content p {max-width: 500px;margin: 10px auto;line-height: 28px;font-size: 14px;}
.redes {list-style: none;display: flex;align-items: center;justify-content: center;margin: 1rem 0 3rem 0;}
.redes li {margin: 0 10px;}
.redes a {text-decoration: none;color: #edf0f1;}
.redes a i{font-size: 1.1rem;transition: all 0.3s ease 0s;}
.redes a:hover i{color: #0088a9;}
.footer-bottom {padding: 10px 0;text-align: center;}
.footer-bottom p {font-size: 14px;word-spacing: 2px;text-transform: capitalize;}
.footer-bottom span {text-transform: uppercase;opacity: .4; font-weight: 200;}