$botones: (
    btn: $blue,
    btn2: red,
    btn3: orange
);

@each $boton, $color in $botones {
    .#{$boton}{
        padding: 9px 25px;
        background-color: rgba(0, 136, 169, 1) !important;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
}


.elemento {
    font-size: 1.1rem;
    transition: all 0.3s ease 0s;
}

.twitter {
    @extend .elemento;
    color: aqua;
}

.linkedin {
    @extend .elemento;
    color: green;
}

.instagram {
    @extend .elemento;
    color: red;
}

@mixin sizes ($width, $height) {
    height: $height;
    width: $width;
}

.box {
    @include sizes(500px, 50px); color: black;
}